<div id="home-page-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h1>Technical<br><span id="communicator">Communicator</span><br><small>UX Writer/ Developer</small></h1>
      </div>
      <div id="header-blurb" class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
        <p>Victor loves editing content, writing code, and developing for the end-user.</p>
      </div>
    </div>
  </div>
</div> 
  <div id="home-styles">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <h2>Recent Projects</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-0">
          <div class="project-thumbnail-container">
            <div id="hover-effect">
              <div class="thumbnail">
                 <%= link_to image_tag('techcorp-home.png'), 'projects/#ruby-link' %>
                  <div class="caption">
                    <h3>RESTful App for Academic Database</h3>
                    <p>After designing the objects and classes for a Postgres database, I developed an interface with embedded Ruby to upload and store a corpus of technical documents via Amazon Web Services.</p>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-0">
          <div class="project-thumbnail-container">
            <div id="hover-effect">
              <div class="thumbnail">
                 <%= link_to image_tag('dita-code2.png'), 'projects/#dita-link' %>
                  <div class="caption">
                    <h3>DITA documentation for Microsoft Word</h3>
                    <p>Highlighting the modularity of DITA, I wrote user-tested procedures for Track Changes and coded them as DITA tasks, concepts, and references to build both XHTML and PDF documentation.</p>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-0">
          <div class="project-thumbnail-container">
            <div id="hover-effect">
              <div class="thumbnail">
                 <%= link_to image_tag('DBC2.png'), 'projects/#dbc-link' %>
                  <div class="caption">
                    <h3>An Information Systems Proposal</h3>
                    <p>With a team of business students, I led the project management, database design, copyediting, and production of deliverables in a proposal following the Systems Development Life Cycle (SDLC).</p>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div id="endeavor-heading">
    <div class="container-fluid">
      <h2>My Endeavors</h2>
    </div>
</div>

  <div id="endeavor">
    <div class="container-fluid">
    </div>
  </div>

  <div id="endeavor-skills">
    <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <div class="even-well">
            <div class="well well-lg">
              <h2>Technical Editing and Documentation</h2>
              <p>Practiced in the project management of technical editing and copyediting for global audiences, I have applied these principles in developing procedures and documentation with DITA and have used Adobe CC to produce professional quality deliverables.</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="odd-well">
            <div class="well well-lg">
              <h2>RESTful Programming and Development</h2>
              <p>I have practiced RESTful Programming and Development with the MVC framework Ruby on Rails. By conducting user research, architecting databases, and designing and programming user interfaces with an iterative process, I have first-hand experience working with the Scrum framework.</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="even-well">
            <div class="well well-lg">
              <h2>Usability and Web Development</h2>
              <p>With companies including the American Heart Association, I have conducted data-centered enterprise usabilty testing with a focus on creating high-quality deliverables tailored to a variety of audiences. My usability and web projects both reflect a user-centered approach paired with a strong understanding of Typography, Print, and Web Design.</p>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>