<div class="container-fluid">
  <div class="jumbotron center">
    <h1 id="jhead">UX Developer / Writer</h1>
    <p id="jpara">Victor is a creative collaborator, who authors and develops for the end-user experience</p>
  </div>
  <div class="row skill_row">
    <div class="col-sm-4 col-md-4">
      <div id="skill_tile" class="thumbnail">
        <%= link_to image_tag("seattle_neon.png", :alt=>'seattle photo') %>
        <div class="caption">
          <h3><strong>Develops</strong><br/>topic-based content</h3>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div id="skill_tile" class="thumbnail">
        <%= link_to image_tag("seattle_neon.png", :alt=>'seattle photo') %>
        <div class="caption">
          <h3><strong>Designs</strong><br/>with UX practices</h3>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div id="skill_tile" class="thumbnail">
        <%= link_to image_tag("seattle_neon.png", :alt=>'seattle photo') %>
        <div class="caption">
          <h3><strong>Authors</strong><br/>with DITA and XML</h3>
        </div>
      </div>
    </div>
  </div>
</div>

