<div class="container-fluid">
  <div class="page-header">
    <h1 id="jhead">UX Writer</h1>
    <p id="jpara">Victor loves people, testing content, and developing for the user.</p>
  </div> 
  <div class="row" id="home_project_row">
    <div class="col-xs-12">
      <h3 id="project_title">Recent Projects</h3>
      <div id="project_box">
        <h6 class="project_name">UX Research for the Division of Student Affairs</h6>
        <h6 class="project_name">Corpus Database for Academic Technical Documents, TechCorp</h6>
        <h6 class="project_name">XML Documentation and Design for Information Systems Proposal</h6>
      </div>
      </div>
  </div>
  <div class="row tile_row">
    <div class="col-xs-12 col-sm-4 col-md-4">
      <div id="tile_1">
        <h2 class="tile_head">Authors</h2>
        <h3 class="tile_subhead">topic-based content</h3>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
      <div id="tile_2">
					<h2 class="tile_head">Develops</h2>
					<h3 class="tile_subhead">with UX practices</h3>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
      <div id="tile_3">
        <h2 class="tile_head">Designs</h2>
        <h3 class="tile_subhead">user-centered design</h3>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h2 id="skill_title">What I Carry in My UX Briefcase</h2>
    </div>
  </div>
  <div class="row skill_row">
    <div class="col-xs-6 col-sm-4 col-sm-offset-0 col-sm-offset-2 col-md-3 col-md-offset-0 col-lg-3">
      <div class="skill_tile">
        <h4 class="skill_head">Usability</h4><br/>
        <h6 class="skill_subhead">Card Sorts</h6>
        <h6 class="skill_subhead">Scenarios</h6>
        <h6 class="skill_subhead">Personas</h6>
        <h6 class="skill_subhead">User Journey</h6>
        <h6 class="skill_subhead">Heuristic Evaluations</h6>
        <h6 class="skill_subhead">Correlation Analysis</h6>
        <h6 class="skill_subhead">Affinity Diagramming</h6>
        <h6 class="skill_subhead">Qualitative Surveys</h6>
        <h6 class="skill_subhead">Quantitative Surveys</h6>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-sm-offset-0 col-md-3 col-lg-3">
      <div class="skill_tile">
        <h4 class="skill_head">Design</h4><br/>
        <h6 class="skill_subhead">Print Design</h6>
        <h6 class="skill_subhead">Copyediting</h6>
        <h6 class="skill_subhead">Web Design</h6>
        <h6 class="skill_subhead">Mobile Design</h6>
        <h6 class="skill_subhead">Wireframes</h6>
        <h6 class="skill_subhead">Database<br/>Design</h6>
        <h6 class="skill_subhead">Information Architecture</h6>
        <h6 class="skill_subhead">Content Diagramming</h6>
        <h6 class="skill_subhead">Object-Relationship Modeling</h6>
      </div>
    </div>

    <div class="col-xs-6 col-sm-4 col-sm-offset-0 col-sm-offset-2 col-md-3 col-md-offset-0 col-lg-3">
      <div class="skill_tile">
        <h4 class="skill_head">Coding</h4><br/>
        <h6 class="skill_subhead">Command-line</h6>
        <h6 class="skill_subhead">Ruby on Rails</h6> 
        <h6 class="skill_subhead">PHP</h6>
        <h6 class="skill_subhead">Javascript</h6>        
        <h6 class="skill_subhead">HTML5/CSS3</h6>
        <h6 class="skill_subhead">Bootstrap</h6>
        <h6 class="skill_subhead">XML</h6>
        <h6 class="skill_subhead">DITA</h6>
        <h6 class="skill_subhead">Markdown</h6><br/>
      </div>

    </div>
    <div class="col-xs-6 col-sm-4 col-sm-offset-0 col-md-3 col-md-offset-0 col-lg-3">
      <div class="skill_tile">
        <h4 class="skill_head">Software</h4><br/>
        <h6 class="skill_subhead">InDesign</h6>
        <h6 class="skill_subhead">Illustrator</h6>
        <h6 class="skill_subhead">Photoshop</h6>
        <h6 class="skill_subhead">Dreamweaver</h6>
        <h6 class="skill_subhead">Brackets</h6>
        <h6 class="skill_subhead">Git</h6>
        <h6 class="skill_subhead">Microsoft Office</h6>
        <h6 class="skill_subhead">Visio</h6>
        <h6 class="skill_subhead">Drupal</h6>
      </div>
    </div>
  </div>
  <div class="row"></br>
  </div>
</div>

