<div class="container-fluid">
  <div class="jumbotron center">
    <h1 id="jhead">UX Developer / Writer</h1>
    <p id="jpara">Victor is a creative developer, who authors and designs for the user experience.</p>
  </div>
  <div class="row tile_row">
    <div class="col-sm-4 col-md-4">
      <div id="tile_1" class="skill_tile">
					<h2 class="tile_head">Authors</h2>
					<h3 class="tile_subhead">With XML and DITA</h3>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div id="tile_2" class="skill_tile">
					<h2 class="tile_head">Develops</h2>
					<h3 class="tile_subhead">topic-based content</h3>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div id="tile_3" class="skill_tile">
					<h2 class="tile_head">Designs</h2>
					<h3 class="tile_subhead">with UX practices</h3>
      </div>
    </div>
  </div>
  <div class="row skill_row">
  <h2 id="skill_title">Behind My UX Creativity</h2>
    <div class="col-sm-3 col-md-3">
      <div class="skill_tile">
        <h5 class="skill_head">Usability</h5><br/>
        <h4 class="skill_subhead">Card Sorts</h4>
        <h4 class="skill_subhead">Scenarios</h4>
        <h4 class="skill_subhead">Personas</h4>
        <h4 class="skill_subhead">User Journey</h4>
        <h4 class="skill_subhead">Heuristic Evaluations</h4>
        <h4 class="skill_subhead">Correlation Analysis</h4>
        <h4 class="skill_subhead">Affinity Diagramming</h4>
        <h4 class="skill_subhead">Qualitative Surveys</h4>
        <h4 class="skill_subhead">Quantitative Surveys</h4>
      </div>
    </div>
    <div class="col-sm-3 col-md-3">
      <div class="skill_tile">
        <h5 class="skill_head">Coding</h5><br/>
        <h4 class="skill_subhead">Command-line</h4>
        <h4 class="skill_subhead">Ruby on Rails</h4> 
        <h4 class="skill_subhead">PHP</h4>
        <h4 class="skill_subhead">Javascript</h4>        
        <h4 class="skill_subhead">HTML5/CSS3</h4>
        <h4 class="skill_subhead">Bootstrap</h4>
        <h4 class="skill_subhead">XML</h4>
        <h4 class="skill_subhead">DITA</h4>
        <h4 class="skill_subhead">Markdown</h4>
      </div>
    </div>
    <div class="col-sm-3 col-md-3">
      <div class="skill_tile">
        <h5 class="skill_head">Technical Communication</h5><br/>
        <h4 class="skill_subhead">Print Design</h4>
        <h4 class="skill_subhead">Copyediting</h4>
        <h4 class="skill_subhead">Web Design</h4>
        <h4 class="skill_subhead">Mobile Design</h4>
        <h4 class="skill_subhead">Wireframes</h4>
        <h4 class="skill_subhead">Database Design</h4>
        <h4 class="skill_subhead">Information Architecture</h4>
        <h4 class="skill_subhead">Content Diagramming</h4>
        <h4 class="skill_subhead">Object-Relationship Modeling</h4>
        

      </div>
    </div>
 
    <div class="col-sm-3 col-md-3">
      <div class="skill_tile">
        <h5 class="skill_head">Software</h5><br/>
        <h4 class="skill_subhead">InDesign</h4>
        <h4 class="skill_subhead">Illustrator</h4>
        <h4 class="skill_subhead">Photoshop</h4>
        <h4 class="skill_subhead">Dreamweaver</h4>
        <h4 class="skill_subhead">Brackets</h4>
        <h4 class="skill_subhead">Git</h4>
        <h4 class="skill_subhead">Microsoft Office</h4>
        <h4 class="skill_subhead">Visio</h4>
        <h4 class="skill_subhead">Project Manager</h4>
        <h4 class="skill_subhead">Drupal</h4>
      </div>
    </div>
  </div>  
</div>

