<div id="home-update">

  <div id="banner-update">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div id="banner-name">V<span class="small">ictor<span> E<span class="small">strada</span></div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div id="banner-subheading">UX Designer<br/>& Researcher</div>
          <div id="banner-tagline">I guide the UX process to bridge business<br/>goals with consumer needs & desires.</div>
          <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
            <%= link_to 'PROJECTS', "#", class: "btn btn-warning btn-lg btn-block" %><br>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="designer-update">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
            <%= image_tag('testgif.gif', :class=>'img-responsive') %>
        </div>
        <div class="col-xs-10 col-xs-offset-1">
          <div id="designer-callout">I rock from IA &amp; journeys to wires &amp; prototypes.</div>
        </div>
      </div>
    </div>
  </div>

  <div id="researcher-update">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <div id="researcher-callout">I dive into research with the latest tools and strategies.</div>
        </div>
        <div class="col-xs-12">
          <div class="thumbnail">
            <%= image_tag('userzoom-researcher.png', :class=>'img-responsive') %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
