<div class="container-fluid ruby-container">
  <div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-1 col-lg-4 col-lg-offset-1">
      <%= image_tag('techcorp-home.png', :class=>'img-responsive') %>
    </div>
    <div class="col-sm-6 col-md-5 col-lg-5">
      <h2>Developing an Online Database and Interface</h2>
      <p><strong>The Problem:</strong> Clients of techCorp requested a web-based corpus to share and organize documents produced by Technical Communication students.</p>
      <p><strong>The Solution:</strong> To best take advantage of the latest technologies in web development, I chose to develop a RESTful application to create a simple, lightweight, and fast interface.</p>
    </div>
  </div>
  
  <div class="row role-section">
    <div class="col-sm-3 col-sm-offset-1">
      <h5>My Role</h5>
      <ul>
        <li>Audience Analysis</li>
        <li>Database Design</li>
        <li>Web Development</li>
        <li>UI Design</li>
        <li>UX Testing</li>
      </ul><br>
    </div>
    <div class="col-sm-3">
      <div>
        <h5>The Tools</h5>
        <ul>
          <li>Ruby on Rails</li>
          <li>Git Bash</li>
          <li>Adobe Creative Cloud</li>
          <li>Bootstrap</li>
          <li>Think-alouds</li>
        </ul><br>     
      </div>
    </div>
    <div class="col-sm-4">
      <div>
        <h5>Technical Communication</h5>
        <p>Mapping entities for a Model, View, and Controller (MVC) framework, I used RESTful web services such as Devise and Amazon Web Services to allow students to login and upload their technical documents. Using an iterative process, I developed a user-tested interface allowing the documents to be viewed by specified criteria such as the genre of the document and year of the student.</p>        
      </div>
    </div>
  </div>
</div>

<div class="container-fluid dita-container">
  <div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-1 col-lg-4 col-lg-offset-1">
      <%= image_tag('dita-code.png', :class=>'img-responsive') %>
    </div>
    <div class="col-sm-6 col-md-5 col-lg-5">
      <h2>Single-sourcing with DITA</h2>
      <p><strong>The Problem:</strong> After writing procedures for Microsoft Track Changes, I wanted to develop multiple outputs that would tailor the procedures for different audiences.</p>
      <p><strong>The Solution:</strong> Using the Darwin Information Typing Architecture (DITA) Open Toolkit, a Java-based, open-source tool, I planned to structure Microsoft Track Changes procedures using the DITA XML data model of tasks, references, and concepts.</p>
    </div>
  </div>
  <div class="row role-section">
    <div class="col-sm-3 col-sm-offset-1">
      <h5>My Role</h5>
      <ul>
        <li>Audience Analysis</li>
        <li>Technical Procedures</li>
        <li>Document Design</li>
        <li>DITA/XML Coding</li>
      </ul><br>
    </div>
    <div class="col-sm-3">
      <div>
        <h5>The Tools</h5>
        <ul>
          <li>Microsoft Word</li>
          <li>DITA Open Toolkit</li>
          <li>HTML/CSS</li>
        </ul><br>     
      </div>
    </div>
    <div class="col-sm-4">
      <div>
        <h5>Technical Communication</h5>
        <p>I single-sourced user-tested procedures with DITA in order to develop deliverables for different audiences and uses. The XML data was used to create a web-based HTML manual along with a quick reference PDF file.</p>        
      </div>
    </div>
  </div>
</div>

<div class="container-fluid dbc-container">
  <div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-1 col-lg-4 col-lg-offset-1">
      <%= image_tag('DBC.png', :class=>'img-responsive') %>
    </div>
    <div class="col-sm-6 col-md-5 col-lg-5">
      <h2>Designing an Information System</h2>
      <p><strong>The Problem:</strong> The Denton Bicycle Center needed to know the economic costs of implementing a rental system to their existing information system.</p>
      <p><strong>The Solution:</strong> Following the Systems Development Life Cycle (SDLC), the team implemented a Baseline Project Plan and developed a cost-effective IS solution by structuring a rental system with context, data-flow, and entity-relationship diagrams.</p>
    </div>
  </div>
  <div class="row role-section">
    <div class="col-sm-3 col-sm-offset-1">
      <h5>My Role</h5>
      <ul>
        <li>Project Management</li>
        <li>Information Architecture</li>
        <li>Database Design</li>
        <li>Copyediting</li>
        <li>Milestone Deliverables</li>
      </ul><br>
    </div>
    <div class="col-sm-3">
      <div>
        <h5>The Tools</h5>
        <ul>
          <li>Microsoft Project</li>
          <li>Microsoft Visio</li>
          <li>Microsoft Office</li>
          <li>Adobe Creative Cloud</li>
          <li>TEI: OxGarage and XML</li>
        </ul><br>     
      </div>
    </div>
    <div class="col-sm-4">
      <div>
        <h5>Technical Communication</h5>
        <p>In addition to managing team communication and deadlines with Microsoft Project, I chose to manage the team's files using XML. Because each teammate developed their contribution as file as the project grew, XML became the best choice to ensure that the structure and style of the document remained consistent. XML files were imported into Adobe InDesign to create professional milestone deliverables.</p>  
      </div>
    </div>
  </div>
</div>

<div class="container-fluid beans-container">
  <div class="row">
    <div class="col-sm-6 col-md-6 col-md-offset-1 col-lg-4 col-lg-offset-1">
      <%= image_tag('beans-menu.png', :class=>'img-responsive') %>
    </div>
    <div class="col-sm-6 col-md-5 col-lg-5">
      <h6>Latest Project</h6> 
      <h2>UX-Driven <br>Web Development</h2>
      <p><strong>The Problem:</strong> A long-standing business wanted a website to drive interest in their new food menu.</p>
      <p><strong>The Solution:</strong> After user research, a clear business strategy was developed with management to market their content to a university demographic.</p>
    </div>
  </div>
  <div class="row role-section">
    <div class="col-sm-3 col-sm-offset-1">
      <h5>My Role</h5>
      <ul>
        <li>User Research</li>
        <li>Web Development</li>
        <li>Content Strategy</li>
        <li>SEO Optimization</li>
        <li>UX Testing</li>
      </ul><br>
    </div>
    <div class="col-sm-3">
      <div>
        <h5>The Tools</h5>
        <ul>
          <li>Ruby on Rails</li>
          <li>Git Bash</li>
          <li>Adobe Creative Cloud</li>
          <li>Bootstrap</li>
          <li>Balsamiq</li>
        </ul><br>     
      </div>
    </div>
    <div class="col-sm-4">
      <div>
        <h5>Technical Communication</h5>
        <p>Adhering to usability best practices and SEO strategies, a dynamic website was developed with meta description and keyword tagging. Marketing to a university demographic, I practiced UX testing to not only design engaging content but also to develop a lightweight interface for management to update content.</p>  
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
<div class="row">
  <div class="col-md-11 col-md-offset-1 col-lg-11 col-lg-offset-1">
    <h1 class="projects-headings text-center">Victor's Projects</h1>
    <h4 class="projects-subheading text-center">Web Developer projects completed while employed at the University of North Texas</h4>
  </div>
</div>
<div class="row project_row">
  <div class="col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1">
    <div class="project_tile" id="ux_tile_1">
      <h2 class="project_head">UX Research</h2>
      <h3 class="project_subhead">Marketing Team, Division of Student Affairs at the University of North Texas</h3>
    </div> 
  </div>
  <div class="col-lg-3">
    <div class="role_box">
      <h3>Role</h3>
      <ul>
        <li>Audience Analysis</li>
        <li>Card sorts</li>
        <li>Data-based Personas</li>
        <li>Qualitative Surveys</li>
        <li>Think-alouds</li>
      </ul>
    </div>
  </div> 
  <div class="col-lg-5">
    <div class="description">
      <h3>Description</h3>
      <p>I led the user research of university students to better understand how they think of the programs and services offered by the Division of Student Affairs (DSA). Practicing UX methods, I established a user-centered design process for the new DSA website.</p>
    </div>
  </div>
</div>
<div class="row project_row">
  <div class="col-md-3 col-md-offset-1  col-lg-3 col-lg-offset-1">
    <div class="project_tile" id="ux_tile_2">
      <h2 class="project_head">Usability Testing</h2>
      <h3 class="project_subhead">American Heart Association, Scientific Sessions Newsroom Intranet</h3>
    </div> 
  </div>
  <div class="col-lg-3">
    <div class="role_box">
      <h3>Role</h3>
      <ul>
        <li>Morae Usability Testing</li>
        <li>Card Sorts</li>
        <li>Heuristic Evaluations</li>
        <li>Data-based Personas</li>
      </ul>
    </div>
  </div> 
  <div class="col-lg-5">
    <div class="description">
      <h3>Description</h3>
      <p>In an ongoing project with the American Heart Association, I researched and analyzed goals of medical reporters. Utilizing team-based heuristic-evaluations and scenario testing with Morae, I developed usability recommendations for the AHA newsroom site.</p>
    </div>
  </div>
</div>

<div class="row project_row">
  <div class="col-md-3 col-md-offset-1  col-lg-3 col-lg-offset-1">
    <div class="project_tile" id="ux_tile_3">
      <h2 class="project_head">Usability Testing</h2>
      <h3 class="project_subhead">Overture Marketplace, Student Loan Comparison Website</h3>
    </div> 
  </div>
  <div class="col-lg-3">
    <div class="role_box">
      <h3>Role</h3>
      <ul>
        <li>UserZoom Testing</li>
        <li>Collaborative Usability Testing</li>
        <li>Heuristic Evaluations</li>
        <li>Data-based Personas</li>
      </ul>
    </div>
  </div> 
  <div class="col-lg-5">
    <div class="description">
    <h3>Description</h3>
    <p>Understanding how students approach the loan comparison site, Overture Marketplace, I collaborated with a small team to develop, process, and analyze data utilizing the software UserZoom.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-11 col-md-offset-1 col-lg-11 col-lg-offset-1">
    <h1 class="project_h1">Web Development Projects</h1>
  </div>
</div>
<div class="row project_row">
  <div class="col-md-3 col-md-offset-1  col-lg-3 col-lg-offset-1">
    <div class="project_tile" id="ux_tile_1">
      <h2 class="project_head">Ruby Application</h2>
      <h3 class="project_subhead">Corpus Database for Academic Technical Documents, TechCorp</h3>
    </div> 
  </div>
  <div class="col-lg-3">
    <div class="role_box">
      <h3>Role</h3>
      <ul>
        <li>Iterative Design</li>
        <li>Database Design</li>
        <li>Application Coding</li>
        <li>UI Design</li>
      </ul>
    </div>
  </div> 
  <div class="col-lg-5">
    <div class="description">
      <h3>Description</h3>
      <p>Using Ruby on Rails, I developed an application as an open corpus for the technical communication field. In collaboration with professor Dr. Ryan Boettger and Dr. Chris Lam, the project is in contention for a $50,000 Google grant.</p>
    </div>
  </div>
</div>
<div class="row project_row">
  <div class="col-md-3 col-md-offset-1  col-lg-3 col-lg-offset-1">
    <div class="project_tile" id="ux_tile_2">
      <h2 class="project_head">Drupal</h2>
      <h3 class="project_subhead">Maintained and developed content for 25 departmental websites, University of North Texas</h3>
    </div> 
  </div>
  <div class="col-lg-3">
    <div class="role_box">
      <h3>Role</h3>
      <ul>
        <li>Content Management</li>
        <li>User Research</li>
        <li>Bootstrap Design</li>
        <li>Project Management</li>
      </ul>
    </div>
  </div> 
 <div class="col-lg-5">
    <div class="description">
      <h3>Description</h3>
      <p>Working with vice presidents, directors, administrators, and student workers, I solely managed and developed content for the Division of Student Affairs, led interactive web projects, and contributed creatively to the DSA marketing team.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-11 col-md-offset-1 col-lg-11 col-lg-offset-1">
    <h1 class="project_h1">Content Management Projects</h1>
  </div>
</div>
<div class="row project_row">
  <div class="col-md-3 col-md-offset-1  col-lg-3 col-lg-offset-1">
    <div class="project_tile" id="ux_tile_1">
      <h2 class="project_head">Database Design</h2>
      <h3 class="project_subhead">XML Documentation and Project Management for Information Systems Proposal

</h3>
    </div> 
  </div>
  <div class="col-lg-3">
    <div class="role_box">
      <h3>Role</h3>
      <ul>
        <li>Content Diagrams</li>
        <li>Entity Diagrams</li>
        <li>XML Content Management</li>
        <li>Business Proposal Design</li>
      </ul>
    </div>
  </div> 
  <div class="col-lg-5">
    <div class="description">
      <h3>Description</h3>
      <p>I used Visio to design a database for a bicycle rental system. With Project Manager, I led the database design and used XML and InDesign to manage the content for the business proposal.</p>
    </div>
  </div>
</div>
<div class="row project_row">
  <div class="col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1">
    <div class="project_tile" id="ux_tile_2">
      <h2 class="project_head">Content Design</h2>
      <h3 class="project_subhead">XML Database of content writer industry with multi-channel output</h3>
    </div> 
  </div>
  <div class="col-lg-3">
    <div class="role_box">
      <h3>Role</h3>
      <ul>
        <li>XML Design / Coding</li>
        <li>XLST</li>
        <li>JavaScript</li>
        <li>HTML / CSS</li>
      </ul>
    </div>
  </div> 
  <div class="col-lg-5">
    <div class="description">
      <h3>Description</h3>
      <p>Developed an XML database with a multi-channel output using XLST, JavaScript, HTML, and CSS. The database features a responsive, interactive layout.</p>
    </div>
  </div>
</div>
<div class="row project_row">
  <div class="col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1">
    <div class="project_tile" id="ux_tile_3">
      <h2 class="project_head">Documentation</h2>
      <h3 class="project_subhead">DITA documentation of Microsoft Word, Track Changes</h3>
    </div> 
  </div>
  <div class="col-lg-3">
    <div class="role_box">
      <h3>Role</h3>
      <ul>
        <li>DITA Design / Coding</li>
        <li>Content Writing</li>
        <li>HTML / CSS</li>
      </ul>
    </div>
  </div> 
  <div class="col-lg-5">
    <div class="description">
      <h3>Description</h3>
      <p>Using DITA, the project consisted of writing procedures and developing a print and web interface for using Microsoft Track Changes.</p><br/>
    </div>
  </div>
</div>
</div>