/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */  

.about_header {
		background-image: url("card_sort_group_2.png");
    background-size: cover;
    padding: 2% 2% 2% 6%;
    opacity: .8;
    margin-bottom: 10%;
  }
  #about {
    color: #f9f9f9;
  }
  #victor {
    color: #f1c40f;
  }
  .yellow_accent {
    color: #f1c40f;
  }
  .img-rounded {
    width: 100%;
  }
  .img-circle {
    width: 100px;
    margin-bottom: 5px;
  }
  #user_testing_photo {
    margin-top: 1%;
    margin-bottom: 7%;
    text-align: center;
  }
  .about_h2 {
  }
  #about_box_1 {
    font-size: 16px;
    margin-top: 0%;
		padding: 5%;
  }
  #about_box_2 {
    font-size: 16px;
    margin-top: 0%;
		padding: 5%;
  }
  .recommend_box{
    background: #ecf0f1;
    color: #666666;
    font-size: 16px;
    margin-top: 0%;
		margin-bottom: 10%;
    padding: 6%;
  }
  .photo_box {
    text-align: center;
  }
  .box_name{
	 	margin-top: -1px;
 		margin-bottom: -6px;
	}
  .box_title{
    line-height: 95%;
    margin-bottom: 10px;
  }

  .recommend_header {
    margin-top: 5%;
    padding: 2%
  }
  #engaging {
    text-align: center;
  }  
  #workplace {
    text-align: center;
		margin-top: -5px;
  }
	.logo {
		text-align: center;
	}
		#rails_logo {
		margin-top: 5px;
		margin-bottom: 20px;
		height: 90px;
		width: 215px;
		}
		#git_logo {
		margin-top: 25px;
		margin-bottom: 25px;
		height: 45px;
		width: 110px;
		}
		#morae_logo {
		margin-top: 10px;
		height: 45px;
		width: 150px;
		}
		#zoom_logo {
		margin-top: 15px;
		margin-bottom: 50px;
		height: 80px;
		width: 160px;
		}
		#slack {
		margin-top: 15px;
		height: 55px;
		width: 175px;
		}
		#github {
		margin-top: 20px;
		margin-bottom: 50px;
		height: 60px;
		width: 185px;
		}
		#dita_logo {
		margin-top: 20px;
		height: 75px;
		width: 160px;
		}
		#xml_logo {
		margin-top: 0px;
		margin-bottom: 50px;
		height: 65px;
		width: 175px;
		}
		.logo_heading {
			margin-top: 30px;
			text-align: center;
			color: #666666;
		}
		.logo_row {
			margin-top: 0%;
			background-color: #ecf0f1;
		}
		.logo_row_2 {
			margin-top: 0%;
			background-color: #ecf0f1;
		}

	/* Small devices (tablets, 768px and up) */
	@media (min-width: 768px) {
    .page-header-default {
      padding-left: 45px;
      padding-right: 45px;
    }
    
	  #user_testing_photo {
    margin-top: 5%;
  	}
    #about_box_1 {
    margin-top: 0%;
    padding: 1% 5% 2% 5%;
    }
    #about_box_2 {
    margin-top: 4%;
    padding: 1% 5% 2% 5%;
    }
		#git_logo {
		margin-top: 30px;
		margin-bottom: 0px;
		height: 35%;
		width: 35%;
		}
		#zoom_logo {
		margin-top: 0px;
		margin-bottom: 0px;
		}
		#morae_logo {
		margin-top: 25px;
		margin-bottom: 0px;
		}
		#github {
		margin-top: 20px;
		margin-bottom: 0px;
		}
		#slack {
		margin-top: 20px;
		margin-bottom: 0px;
		height: 50%;
		width: 50%;
		}
		#dita_logo {
		margin-top: 7px;
		}
		#xml_logo {
		margin-top: 13px;
		}
		.logo_heading {
		margin-top: 25px;
		margin-bottom: 15px;
		}
    .recommend_box{
    margin-top: 0%;
		margin-bottom: 5%;
    padding: 5% 8% 8% 8%;
    height: 450px;
    }
    .recommend_row{
      margin-bottom: 10%;
    }
	}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  
    .about_header {
    margin-bottom: 0%;
    }
  
    #user_testing_photo {
    display: none;
    }
  
		#about_box_1 {
     margin-top: 5%;
     font-size: 18px;    
		}
  
		#about_box_2 {
     margin-top: 5%;
     font-size: 18px;
		}
  
    .recommend_box{
    margin-top: 0%;
		margin-bottom: 5%;
    padding: 5% 8% 8% 8%;
    height: 450px;
    }
  
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
		.about_header {
		margin-bottom: 0%;
    }
		#user_testing_photo {
		display: none;
		}
		#about_box_1 {
		 margin: 8% 5% 0% 10%;
		}
    #about_box_2 {
		 margin: 8% 10% 0% 5%;
		}
		.recommend_box {
			width: 95%;
			height: 645px;
			margin-left: 2%;
			margin-bottom: 15%;
			padding: 10%;
		}
		.logo {
			text-align: center;
		}
		#rails_logo {
		margin-top: 5%;
		height: 60%;
		width: 60%;
		}
		#git_logo {
		margin-top: 10%;
		height: 35%;
		width: 35%;
		}
		#morae_logo {
		margin-top: 7%;
		height: 40%;
		width: 40%;
		}
		#zoom_logo {
		margin-top: 2%;
		height: 45%;
		width: 45%;
		}
		#dita_logo {
		margin-top: 2%;
		height: 45%;
		width: 45%;
		}
		#xml_logo {
		margin-top: 2%;
		height: 45%;
		width: 45%;
		}
		#github {
		margin-top: 5%;
		height: 60%;
		width: 55%;
		}
		#slack {
		margin-top: 6%;
		height: 50%;
		width: 50%;
		}
		.logo_heading {
			text-align: center;
			margin-bottom: 15px;
		}
		.logo_row {
			margin-top: 0%;
			background-color: #ecf0f1;
		}
		.logo_row_2 {
			margin-top: 0%;
			background-color: #ecf0f1;
		}

	
}