/* XS devices (mobile, under 768px) */

#banner-update {
  background: #36D1DC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-top: 36px;
  padding-bottom: 48px;

  .col-xs-12 {
    text-align: center;
    padding: 0;
  }

  .small {
    font-variant: small-caps;
    font-size: 100%;
  }
}

#banner-update .btn {
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  font-family: Lato-Light;
  font-size: 18px;
  font-weight: 300;
}

#banner-name {
  font-family: Lato-Black;
  font-size: 88px;
  color: #ECF0F1;
  letter-spacing: -1px;
  line-height: 62px;
  padding-bottom: 12px;
}

#banner-subheading {
  font-family: Lato-Light;
  font-size: 50px;
  color: #EDF0F1;
  letter-spacing: 0.1px;
  line-height: 38px;
  padding-bottom: 6px;
}

#banner-tagline {
  font-family: Lato-Light;
  font-size: 18px;
  color: #EDF0F1;
  letter-spacing: -0.5px;
  line-height: 19px;
  padding-bottom: 24px;
}

#designer-update {
  background: #f9f9f9;  /* fallback for old browsers */
  padding-top: 66px;
  padding-bottom: 48px;
}

#designer-update .thumbnail {
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  border: none;
  border-radius: 6px;
  background-color: #5B86E5;
  padding: 4%;
  margin: 15px;
  }

#designer-callout {
  font-family: Lato-Regular;
  font-size: 48px;
  color: #5E8DE2;
  text-align: center;
  letter-spacing: -1px;
  line-height: 52px;
  padding-top: 32px;
}

#researcher-update {
  background: #36D1DC;  /* fallback for old browsers */
  padding-top: 66px;
  padding-bottom: 48px;
}

#researcher-callout {
  font-family: Lato-Regular;
  font-size: 48px;
  color: #ECF0F1;
  text-align: center;
  letter-spacing: -1px;
  line-height: 52px;
  padding-bottom: 32px;
}

#researcher-update .thumbnail {
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  border: none;
  border-radius: 6px;
  background-color: #5B86E5;
  margin: 15px;
  padding: 4%;
  }

#projects-update {
  height: 800px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {


}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* Large devices (large desktops, 1440 and up) */
@media (min-width: 1440px) {

  #banner-update {
    padding-top: 36px;
    padding-bottom: 48px;
    height: 700px;

    .col-xs-10   {
      text-align: center;
      padding: 0;
    }

    .small {
      font-variant: small-caps;
      font-size: 100%;
    }
  }

  #designer-callout {
    margin-top: 200px;
    font-size: 52px;
    line-height: 50px;
    text-shadow: 2px 4px 16px 0 #4A4A4A;
  }

}
