/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
.page-header {
  background-image: url("seattle_dusk_crop.png");
  background-size: cover;
  height: 175px;
}
#jhead {
  background: #ecf0f1;
  color: #2c3e50;
  font-size: 32px;
  font-weight: bold;
  padding: 2%;
  margin: 20px 2% 2% 2%;
}
#jpara { 
  background: #1abc9c;
  color: #ecf0f1;
  padding: 2%;
  margin: 10px 2% 2% 2%;
}
#home_project_row {
margin-bottom: 5%;
}
#project_box{
  text-align: center;
  margin-left: 35px;
  margin-right: 35px;
}
.project_name{
  color: #666666;
}
.tile_row {
  display: none;
}
.skill_row {
  padding-bottom: 5%;
	margin-bottom: 10%;
  background-color: #ecf0f1;
  height: 100%;
}
.skill_row_2 {
  margin-top: 0%;
	margin-bottom: 20%;
  padding-top: 5%;
  padding-bottom: 15%;
  background-color: #ecf0f1;
  height: 100%;
}

#skill_title{
  text-align: center;
}
#project_title{
  text-align: center;
}
.skill_tile{
  margin-left: 15%;
  margin-right: 15%;  
}
.skill_subhead{
  color: #666666;
}
.skill_head {
	margin-top: 15px;
  margin-bottom: -10px;
  padding-top: 5px;
  color: #1abc9c;
  font-size: 20px;
  font-weight: normal;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .page-header {
    height: 275px;  
  }
  #jhead {
    width: 48%;
    padding: 1%;
    margin: 20px 2% 2% 47%;
    font-size: 38px;
  }
  #jpara { 
    width: 48%;
    padding: 1%;
    margin: 20px 2% 2% 47%;
    font-size: 20px;
  }
  .skill_tile{
    margin-left: 25%;
    margin-right: 15%;  
}
  #home_project_row {
    margin-bottom: 2%;
  }
  #project_title{
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .project_name{
    font-size: 20px;
  }
  #skill_title{
    margin-bottom: 40px;
  }
  .skill_head{
    padding-top: 15%;
  }
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .page-header {
  background-image: url("seattle_dusk.png");
  }
	
}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .page-header {
    height: 300px;
    }
    .tile_row {
    display: block;
    margin-top: 20px;
    margin-bottom: 5%;
    }
    #jhead {
      width: 57%;
      padding: 1%;
      margin: 20px 2% 2% 40%;
      font-size: 48px;
    }
    #jpara { 
      width: 57%;
      padding: 1%;
      margin: 20px 2% 2% 40%;
      font-size: 32px;
    }
    #home_project_row{
    margin-bottom: 5%;
    }
    .tile_row {
    margin-top: 60px;
    margin-bottom: 40
    }
    #tile_1 {
      background: #1abc9c;
      margin-left: 10px;
      margin-right: 5px;
      margin-bottom: 15px;
      height: 100%;
      padding: 100px 3% 2% 5%;
    }
    #tile_2 {
      background: #34495e;
      margin-left: 5px;
      margin-right: 5px;
      margin-bottom: 15px;
      height: 100%;
      padding: 100px 3% 2% 5%;
    }
    #tile_3 {
      background: #95a5a6;
      margin-left: 5px;
      margin-right: 10px;
      margin-bottom: 15px;
      height: 100%;
      padding: 100px 3% 2% 5%;
    }
    .tile_head{
     margin-top: -2px;
     color: #f9f9f9;
    }
    .tile_subhead {
      color: #f9f9f9;
      margin-top: -9px;
    }
}