/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
#home-page-header {
  background: #f9f9f9;
  margin: -20px 0 0 0;

  h1 {
    font-family: 'Lato', sans-serif;
    color: #2c3e50;
    font-size: 62px;
    font-weight: bold;
    line-height: 50%;
    margin: 0;
    padding: 65px 2% 2% 5%;
    letter-spacing: -2px;
  }
  #communicator {
    font-size: 42px;
    line-height: 30%;
  }

  small {
    font-family: 'Bitter', serif;
    font-size: 24px;
    color: #1abc9c;
    padding-left: 2%;
    letter-spacing: -1px;
  }

  p { 
    font-size: 16px; 
    background: #1abc9c;
    color: #ecf0f1;
    padding: 2% 3% 2% 5%;
    margin: 0;
  }
}

#home-styles {

  margin-bottom: 0;
  padding: 0 5%;

  h2 {
    font-weight: bold;
    color: #2c3e50;
    letter-spacing: -1px;
    margin-top: 15%;
    margin-bottom: 15px;
  }
  
  p {
    font-size: 16px;
  }
  
  .project-thumbnail-container {
    margin: 0 0 15% 0;
  }

  .thumbnail {
    border: solid 2px #1abc9c;
    margin-bottom: 0;
  }

  .caption h4 {
    color: #e67e22;
  }
  
  #hover-effect:hover {
    opacity: .6;
    overflow: visible;
    border: 6px solid rgba(26, 188, 156, 0.8);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }
}
 
#endeavor-heading{
    h2 {
    margin-top: 5%;
    padding-left: 5%;
    color: #2c3e50;
  }
}

#endeavor {
  background-image: url("Affinity_Diagram.png");
  background-size: cover;
  height: 250px; 
  margin: 0 0 50px 0;
}

#endeavor-skills {
  margin: 0 5% 15% 5%;
 
  #first-well {
    margin-bottom: 25px;
    
    .well {
      background: transparent;
      border: transparent;
      border-radius: 0;
      box-shadow: none;
      margin-top: -15px;
    }

    .well p {
      font-size: 20px;
      font-weight: bold;
    }
  }
  
  .well {
    border: transparent;
    border-radius: 0;
    margin-bottom: 50px;
    box-shadow: none;
    margin-bottom: 25px;
  }
  
  .well h1 {
    font-weight: bold;
    color: #2c3e50;
    letter-spacing: -2px;
  }
  
  .well h2 {
    font-size: 24px;
    font-weight: bold;
    color: #2c3e50;
    letter-spacing: -1px;
  }
  
  .well p {
    font-size: 18px;
  }
}
  
  .odd-well .well {
    background-color: rgba(230, 126, 34, 0.1);
  }
  
  .even-well .well {
    background-color: rgba(26, 188, 156, 0.1);
  }

.my-years-container {
  background-image: url('orange-glow.png');
  width: 100%;
  height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin: 0 0 50px 0;
  padding: 5%;
    
  h2 {
    font-size: 24px;
    font-weight: bold;
    color: #2c3e50;
    letter-spacing: -1px;
  }

  p {
    font-size: 18px;
    line-height: 300%;
  }
}

.my-years-container-odd {
  background-image: url('aqua-glow.png');
  width: 100%;
  height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin: 0 0 50px 0;
  padding: 5%;
    
  h2 {
    font-size: 24px;
    font-weight: bold;
    color: #2c3e50;
    letter-spacing: -1px;
  }

  p {
    font-size: 18px;
    line-height: 300%;
  }
}

#logo-styles {
  text-align: center;
  
  h2 {
    text-align: left;
    margin-top: 50px;
    margin-left: 5%;
    color: #2c3e50;
  }
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  
  #home-page-header {
  margin: -20px 0 0 3%;

  h1 {
    font-size: 80px;
  }
  #communicator {
    font-size: 52px;
  }

  small {
    font-size: 28px;
  }
    
  #header-blurb {
    margin-top: 75px;
  }

  p { 
    font-size: 18px; 
  }
}
  
  #endeavor {
    background-image: url("diagram_big.png");
    height: 250px; 
  }
  
  #home-styles {
    h2 {
      margin-top: 50px;
      margin-bottom: 25px;
    }
  }
  
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

  #home-page-header {
  margin: 0 0 0 3%;

    h1 {
      font-size: 100px;
    }
    #communicator {
      font-size: 62px;
    }

    small {
      font-size: 36px;
    }

    #header-blurb {
      margin-top: 70px;
    }

    p { 
      font-size: 26px; 
    }
  }
  
  #endeavor {
    height: 250px; 
  }
	
}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
    #home-page-header {
    margin: 0 0 0 3%;

    h1 {
      font-size: 125px;
    }
    #communicator {
      font-size: 80px;
    }

    small {
      font-size: 44px;
    }

    #header-blurb {
      margin-top: 80px;
    }

    p { 
      font-size: 24px; 
    }
  }
  
  #endeavor {
  height: 300px; 
  }
  
  #endeavor-skills {
  margin: 0 5% 10% 5%;
  }
  
}

/* Extra Large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
  
    #home-page-header {

    h1 {
      margin-left: 8%;
      margin-right: 0;
    }

    #header-blurb {
      margin-left: 0;
      margin-right: 8%;
    }
    
    p { 
      font-size: 28px; 
    }

  }
}