/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
.jumbotron {
  background-image: url("seattle_dusk.png");
  background-size: cover;
  height: 450px;
  margin: 5% 2% 10% 2%;
}
#jhead {
  margin-top: 150px;
  margin-left: 0%;
  color: #2c3e50;
  font-size: 38px;
  font-weight: bold;
  background: #f9f9f9;
  padding: 2%;
}
#jpara {
  margin-top: 7%;
  margin-left: 0%; 
  background: #f9f9f9;
  padding: 3%;
  color: #2c3e50;
  font-weight: bold;
}
.tile_row {
	margin-top: 10%;
	margin-bottom: 5%;
}
.skill_tile {
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 5%;
	height: 100%;
	padding: 4% 6% 4% 6%;
}
#tile_1 {
	background: #34495e;
}
#tile_2 {
	background: #1abc9c;
}
#tile_3 {
	background: #95a5a6;
}
.tile_head{
 color: #f9f9f9;
}
.tile_subhead {
	color: #f9f9f9;
	margin-top: -9px;
}
.skill_row {
	margin-bottom: 10%;
  background-color: #ecf0f1;
  height: 100%;
}
.skill_row_2 {
  margin-top: 0%;
	margin-bottom: 20%;
  padding-top: 5%;
  padding-bottom: 15%;
  background-color: #ecf0f1;
  height: 100%;
}
#skill_title{
  text-align: center;
  padding-top: 15px;
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 40px;
}
.skill_subhead{
  color: #666666;
}
.skill_head {
	margin-top: 15px;
  margin-bottom: -10px;
  padding-top: 5px;
  color: #1abc9c;
  font-size: 20px;
  font-weight: normal;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
#skill_title{
  padding-top: 15px;
  margin-bottom: 40px;
}


  .skill_head{
    padding-top: 15%;
  }
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

	
}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .jumbotron {
    margin: 40px 2% 80px 2%;
    }
    #jhead {
    margin-top: 9%;
    margin-left: 0%;
    margin-right: 5%;
    font-size: 76px;
    padding: 1%;
    }
    #jpara {
    font-size: 30px;
    margin-top: 2%;
    margin-left: 0%; 
    margin-right: 5%;
    padding: 1%;
    }
    .tile_row {
    margin-top: 60px;
    margin-bottom: 40px;
  }
}