@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);

$body-bg: #f9f9f9;
$text-color: #262626;
$navbar-height: 60px;
$navbar-default-bg: #262626;
$navbar-default-link-color: #f1c40f;
$navbar-default-link-active-bg: #262626;
$navbar-default-link-active-color: #1abc9c;
$navbar-default-link-hover-color: #f9f9f9;
$navbar-default-border: #262626;
$navbar-default-toggle-hover-bg: none;
$brand-primary: #f9f9f9;
$jumbotron-heading-font-size: 300%;
$jumbotron-padding: 2%;
$navbar-default-toggle-border-color: #262626;
$component-active-color: #f9f9f9;
$page-header-border-color: none;


@import 'bootstrap-sprockets';
@import 'bootstrap';

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

.logo {
  display: none;
}
/* .topNavLI {
	width: 32.2033%;
	margin-left: 1.6949%;
	clear: none;
	height: auto;
	position: static;
	transition: all .2s;
	-o-transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
}
.topNavLI:hover {
    cursor: pointer;
	margin-top: -12px;
	transition: all .2s;
	-o-transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
} */
.navbar-brand {
  display: none;
}

.navbar-right {
  padding-top: 2%;
  margin-top: 0px;
  margin-left: 0px;
  padding-right: 0px;

}
.navbar-collapse {
  width: 100%;
  margin-top: 2%;
  text-align: center;
}

.navbar-toggle {
  display: block;
  height: auto;
  width: auto;
  margin: 1% 0 0 15px;
  float: left;
}
.navbar-toggle:hover {
  opacity: 0.6;
}

.nav_link {
  font-size: 150%;
  font-weight: bold;
}

.nav_link:hover {
}

.image_nav_link{
  width: 25px;
  height: 25px;
}

.image_nav_link:hover {
  opacity: 0.4;
  color: #f1c40f;
}

.jumbotron {
  background-image: url("seattle_600.png");
  background-size: cover;
  height: 450px;
  margin: 0% 2% 10% 2%;
}
.page-header {
  background-image: url("card_sort_group_2.png");
  background-size: cover;
}
#jhead {
  margin-top: 150px;
  margin-left: 0%;
  color: #262626;
  font-size: 38px;
  font-weight: bold;
  background: #f9f9f9;
  padding: 2%;
}
#jpara {
  margin-top: 7%;
  margin-left: 0%; 
  background: #262626;
  padding: 3%;
  color: #f9f9f9;
}
.skill_row {

}
#skill_tile {
  margin-left: 8%;
  margin-right: 8%;
}
.icon-custom {
  background-image: url("estrada_toggle_white.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 200px; // replace with actual width
  height: 100px; // replace with actual height
  display: inline-block;
}
h1 {
  font-size: 38px;
  font-weight: bold;
}
h1 small {
  font-size: 24px;
  font-weight: bold;
  color: #e67e22;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  .navbar-toggle {
  display: none;
  }
   .logo {
    display: block;
    margin-top: 6%;
    margin-left: 15%;
    width: 75%;
   }
   .logo:hover {
    opacity: 0.4;
   }
  .navbar-brand {
   display: block;
   max-height: 100%;
   height: 100%;
   width: auto;
   margin: 0 auto;
  }
  .navbar-right {
  padding-top: 2%;
  margin-top: 18px;
  margin-right: 5%;
  margin-left: 0px;
  }
  .nav_link {
  font-size: 125%;
  }
  li nav_link {
  margin-right: 10px;
  }
  #home_option {
  display: none;
  }
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
    .navbar-toggle {
    display: none;
  }
   .logo {
    display: block;
    margin-top: 3%;
    margin-left: 20%;
    width: 100%;
   }
  .navbar-brand {
   display: block;
   max-height: 100%;
   height: 100%;
   width: auto;
   margin: 0 auto;
  }
  .navbar-right {
  padding-top: 1%;
  margin-top: 2%;
  margin-left: 0px;
  margin-right: 5%;
  padding-right: 10px;

}
  .nav_link {
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
   .logo {
    display: block;
    margin-top: 3%;
    margin-left: 30%;
    width: 100%;
   }
  .navbar-brand {
   display: block;
   max-height: 100%;
   height: 100%;
   width: auto;
   margin: 0 auto;
  }
  .navbar-toggle {
  display: none;
  }
  .navbar-right {
  padding-top: 1%;
  margin-right: 9%;
  margin-left: 5%;
  margin-top: 11px;
  }
  .nav_link {
  font-size: 140%;
  width: 135px;
  }
  
  .image_nav_link{
  width: 25px;
  height: 25px;
  }
  .jumbotron {
  background-image: url("seattle_600.png");
  background-size: cover;
  height: 450px;
  margin: 2% 2% 10% 2%;
  }
  #jhead {
  margin-top: 8%;
  margin-left: 35%;
  margin-right: 0%;
  color: #262626;
  font-size: 38px;
  font-weight: bold;
  background: #f9f9f9;
  padding: 1%;
  }
  #jpara {
  margin-top: 10%;
  margin-left: 35%; 
  margin-right: 0%;
  background: #262626;
  padding: 1%;
  }
}