/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */  

.ruby-container {

  padding: 5% 25px;
  background-color: rgba(26, 188, 156,1.0);
  
  p {
    color: #f9f9f9;
  }
  
  h2 {
    color: #fff;
  }
  
  h5 {
    color: #f9f9f9;
  }
  
  li {
    color: #f9f9f9;
  }
}

.dita-container {
  margin-top: 5%;
  padding: 5% 25px;
  background-color: rgba(230,230,230,.6);
  
  h2 {
    color: #3498db;
  }
  
  h5 {
    color: #4d4d4d;
  }
  
  p {
    color: #4d4d4d;
  }
  
  li {
    color: #4d4d4d;
  }
}

.dbc-container {
  margin-top: 5%;
  padding: 5% 25px;
}

.beans-container {
  margin-top: 5%;
  padding: 5% 25px;
  background-color: rgba(26,26,26,1.0);
  
  h2 {
    color: #d41a27;
    margin-top:0;
  }
  
  h5 {
    color: #e6e6e6;
  }
  
  h6 {
    color: #f1c40f;
    margin-top: 25px;
    margin-bottom: 0;
  }
  
  p {
    color: #e6e6e6;
  }
  
  li {
    color: #e6e6e6;
  }
}

.role-section {
  margin-top: 15px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .project_h1 {
    color: #34495e;
  }
  
  .role-section {
  margin-top: 25px;
}
  
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .project_h1{
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .project_row {
    margin-top: 10px;
    margin-bottom: 40px;
  }
  .project_tile {
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 15px;
    height: 200px;
    padding: 6% 5% 2% 5%;
    border-radius: 2px;
  }
  #ux_tile_1 {
    background: #34495e;
  }
  #ux_tile_2 {
    background: #95a5a6;
  }
  #ux_tile_3 {
    background: #1abc9c;
  }
  .project_head{
   margin-top: -2px;
   color: #f9f9f9;
   font-size: 30px;
  }
  .project_subhead {
    color: #f9f9f9;
    margin-top: -9px;
    font-size: 20px;
  }
  .role_box {
    margin-left: 20px;
  }
  li {
    font-size: 18px;
  }
  .description {
    margin-right: 20%;
  }  
  
  
}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .project_h1{
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .project_row {
    margin-top: 10px;
    margin-bottom: 40px;
  }
  .project_tile {
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 15px;
    height: 200px;
    padding: 6% 5% 2% 5%;
    border-radius: 2px;
  }
  #ux_tile_1 {
    background: #34495e;
  }
  #ux_tile_2 {
    background: #95a5a6;
  }
  #ux_tile_3 {
    background: #1abc9c;
  }
  .project_head{
   margin-top: -2px;
   color: #f9f9f9;
   font-size: 30px;
  }
  .project_subhead {
    color: #f9f9f9;
    margin-top: -9px;
    font-size: 20px;
  }
  .role_box {
    margin-left: 20px;
  }
  li {
    font-size: 18px;
  }
  .description {
    margin-right: 20%;
  }
}