<div id="footer_layout">
	<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<h6 id="footer_copy">Developed with Ruby on Rails</h6>
					<p id="signature">by Victor Estrada | 2016</p>
				</div>
		</div>
	</div>
</div>